.site-header {
	
	min-height: 120px;
	overflow: hidden;
	@include rem(padding-bottom, 32px);
}

.site-title {
	@include rem(margin, 40px 0 8px);
	@include rem(font-size, 48px);
	a {
		color:$color-extra;
		&:hover { color: $color-cta; }
	}

	font-family: $googleFont;
	font-weight:700;
}


.header-image .site-title {
	margin: 0;
}

.site-description {
	line-height: 1.25;
	color: $color-extra;
}
	
.header-full-width .site-title,
.header-full-width .site-title a,
.header-full-width .title-area {
	width: 100%;
}

.header-image .site-title,
.header-image .site-title a,
.header-image .title-area {
	display: block;
	float: left;
	min-height: 120px;
	overflow: hidden;
	width: 50%;
}

.header-image .site-description {
	display: none;
}

.site-header .search-form {
	float: right;
	@include rem(margin-top, 56px);
	width: 100%;
}

//added
.header-full-width .site-title,.header-full-width .title-area{
	max-width:521px;
	float: left;
	margin-left: 0;
	clear:both;	
}

/* Solil Slider */

.soliloquy-image-slide{
	.sol-slide-in {
		position: initial !important;
	    font-size: 2.5em !important;
	    background-color: rgba(255, 255, 255, 0.3)!important;
	    border: solid rgba(255,255,255,1.0) 1px !important;
	    max-width: 60% !important;
	    text-align: right !important;
	    border-left: none !important;   
	    padding: 15px 5px !important; 
	}
	.sol-slide-down{
		position: initial !important;
		p {
		    max-width: 40% !important;
		    margin: auto !important;
		    font-size: 1.5em !important;
		    background-color: rgba(255, 255, 255, 0.6) !important;
		    color: #757575 !important;
		    padding: 10px 0px !important;
		    margin-top: 30px !important;
		}
	}
	button.btn.btn-secondary.sol-btn {
	    margin-top: 25px !important;
	    background-color: rgba(255, 255, 255, 0.3)!important;
	    border: solid rgba(255,255,255,1.0) 1px !important;
	    padding: 15px;
	    font-size: 1.3em !important;
	}
}






.soliloquy-active-slide{
	.sol-slide-in {
		position: relative !important;
	    font-size: 2.5em !important;
	    background-color: rgba(255, 255, 255, 0.3)!important;
	    border: solid rgba(255,255,255,1.0) 1px !important;
	    max-width: 60% !important;
	    text-align: right !important;
	    border-left: none !important;   
	    padding: 15px 5px !important; 
	    left: -3000px;
	}
	.sol-slide-down{
		position: relative !important;
		p {
		    max-width: 40% !important;
		    margin: auto !important;
		    font-size: 1.5em !important;
		    background-color: rgba(255, 255, 255, 0.6) !important;
		    color: #757575 !important;
		    padding: 10px 0px !important;
		    margin-top: 30px !important;
		}
	}
	button.btn.btn-secondary.sol-btn {
	    margin-top: 25px !important;
	    background-color: rgba(255, 255, 255, 0.3)!important;
	    border: solid rgba(255,255,255,1.0) 1px !important;
	    padding: 15px;
	    font-size: 1.3em !important;
	}
}
/* Home/Animated Variant */ 
.home{
	.soliloquy-active-slide{
		.sol-slide-in {
			position: relative !important;
		    font-size: 2.5em !important;
		    background-color: rgba(255, 255, 255, 0.3)!important;
		    border: solid rgba(255,255,255,1.0) 1px !important;
		    max-width: 60% !important;
		    text-align: right !important;
		    border-left: none !important;   
		    padding: 15px 5px !important; 
		    left: -3000px;
		}
		.sol-slide-down{
			position: relative !important;
			top: -1000px;
			p {
			    max-width: 40% !important;
			    margin: auto !important;
			    font-size: 1.5em !important;
			    background-color: rgba(255, 255, 255, 0.6) !important;
			    color: #757575 !important;
			    padding: 10px 0px !important;
			    margin-top: 30px !important;

			}
		}
		button.btn.btn-secondary.sol-btn {
		    margin-top: 25px !important;
		    background-color: rgba(255, 255, 255, 0.3)!important;
		    border: solid rgba(255,255,255,1.0) 1px !important;
		    padding: 15px;
		    font-size: 1.3em !important;
		}
	}
}