/* eNews */

	.enews input[type="submit"],
	.search-form input[type="submit"] {
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

/* Gravity Forms */

	.content div.gform_wrapper input,
	.content div.gform_wrapper select,
	.content div.gform_wrapper textarea,
	.content div.gform_wrapper .ginput_complex label {
		@include rem(font-size, 16px);
		@include rem(padding, 16px);
	}

	.content div.gform_wrapper input[type="submit"] {
		@include rem(padding, 16px 24px);
	}

	.content div.gform_wrapper .ginput_complex label {
		padding: 0;
	}

	div.gform_wrapper li,
	div.gform_wrapper form li {
		@include rem(margin, 16px 0 0);
	}
/*  CONTACT FORM  */
	.contact-form-shuck{
		input.gform_button.button {
 		   text-transform: uppercase;
		} 
		label {
		    display: none !important;
		}
		textarea::-webkit-input-placeholder {
		   color: #fff;
		}

		textarea:-moz-placeholder { /* Firefox 18- */
		   color: #fff;  
		}

		textarea::-moz-placeholder {  /* Firefox 19+ */
		   color: #fff;  
		}

		textarea:-ms-input-placeholder {  
		   color: #fff;  
		}
		input::-webkit-input-placeholder {
		   color: #fff;
		}

		input:-moz-placeholder { /* Firefox 18- */
		   color: #fff;  
		}

		input::-moz-placeholder {  /* Firefox 19+ */
		   color: #fff;  
		}

		input:-ms-input-placeholder {  
		   color: #fff;  
		}		
		input, textarea{
			background-color: $color-secondary;
		}
	}
	//background
	body.contact{
		div.site-inner{
			background-image:url('./images/world-network.jpg');    
			background-size: cover;
    		background-repeat: no-repeat;
		}
	}



/* Testimonial Slider */

	div#testimonial-slider {
	   background-image: url('./images/three-blueprint.jpg');
		div.item img{
		    margin: 0 auto;
		    padding-top:30px;
		}
		.carousel-caption{
			padding: 0px !important;
			bottom: 0px !important;
			.excerpt{
				margin-bottom: 15px !important;
				@include rem(font-size, 20px);
				font-family: $TisaSansPro;
				font-weight: bold;
				text-align:left;
				//font-si
			}
			p{
				color: #fff !important;
				margin: 0px !important;

			}
			p.testimonial-comapny-name{
				font-size: smaller;
				line-height: 0px;
				padding-bottom: 30px;

			}		
		}
		div.item{
			height: 350px;
		}

	}
/* Learn More Shortcode  */
div.learn-more {
	padding:20px 0px 40px 0px;
	text-align:left;
	a.read-more-link {
	    color: $maroon;
	    border: 3px solid $maroon;
	    border-radius: 6px;
	    padding: 4px;
	}
}	

/** Static 2 Content **/
#static-section-2-area {
			background-image:url('./images/world-network.jpg');    
			background-size: cover;
    		background-repeat: no-repeat;
			-webkit-box-shadow: inset 0px 7px 15px -5px rgba(0,0,0,0.3);
			box-shadow: inset 0px 7px 15px -5px rgba(0,0,0,0.3);     		

	h4.widget-title.widgettitle{
		text-align: left;
		font-size: 2em;
		font-weight: normal;
		padding: 52px 0px 0px 0px;
	}
	p{
		text-align:left;
		max-width:520px;				
	}
	div.learn-more {
		text-align: left;
	}	
	.widget-wrap{
		max-width:785px;
		text-align:left;
		margin: auto;
	}
}


/*  Featured Projects */
	div#project-carousel{
		background-image:url('./images/building-schematic.jpg');

		background-size: cover;
   		background-repeat: no-repeat;
   		background-position: right;

		-webkit-box-shadow: inset 0px 7px 15px -5px rgba(0,0,0,0.3);
		box-shadow: inset 0px 7px 15px -5px rgba(0,0,0,0.3);  

		div.view-more-link {
			width:780px; 
			position:relative;
			text-align: right;
			font-style:italic;
		}
		.view-more-link:after {
			content:''; 
			width:138px; 
			height:4px; 
			background-color:$maroon; 
			position:absolute; 
			top:-4px;
			left: 690px;
		}
		.project-item{
			height: 242px;
		}
		h4.widget-title.widgettitle{
			padding-top: 10px;
		}
		.carousel-inner{
			max-width:780px;
			margin:auto;
		}
		.hover-text {
	    	position: relative;
	    	top: -146px;
			color: #fff;
		    font-weight: bold;
		    font-size:1.5em;
		    display: none;    	
		}
	}
/*  Static 3  */

#static-section-3-area {
	background-color:$shuck-gray;
		-webkit-box-shadow: inset 0px 7px 15px -5px rgba(0,0,0,0.3);
		box-shadow: inset 0px 7px 15px -5px rgba(0,0,0,0.3); 
	

	.static-section-3.widget-area 
	{
		section:nth-of-type(1){
			margin-left: 0px;
			float: left;
			max-width: 660px;
			.widget-wrap{
				.textwidget img{
					max-width: 660px;
				}
			}
		}
		 section:nth-of-type(2){
			margin-left: 15.16667%;
			float: left;
			max-width: 520px;
			p{
				text-align: left;
			}
		 }		
	}
	.widget-wrap {
	    text-align: left;
	    max-width: 400px;
		h4{
			text-align: left;
			font-size: 2.0em;
			font-weight: normal;
		}
	}
}

.static-section-3.featured-projects.widget-area{


}

/* Joyce and Steves Letter */
	div#j-s-letter-area {
//		background-image:url('./images/building-plans.jpg')
background: 
		url('./images/top-left-bldg-plans.jpg') 0px 0px no-repeat,  
		url('./images/bottom-right-bldg-plans.jpg') 100% 100% no-repeat;
		-webkit-box-shadow: inset 0px 7px 15px -5px rgba(0,0,0,0.3);
		box-shadow: inset 0px 7px 15px -5px rgba(0,0,0,0.3);  
    
		.j-s-letter{
		    max-width: 980px;
		    margin: auto;
			padding: 114px 0px;
		h3.header-title{
		    color: $textColor !important;
		    font-weight: normal;
		}
		.widget-wrap {
			h4.widget-title{
				text-align: left;
			    @include rem(font-size, 14px);
			    font-family: $baseFontFamily !important;
			    color: $textColor !important;
			    font-weight: normal;
			    text-transform: uppercase !important;
			    font-style:italic; 
				position:relative;
			}
			h4.widget-title:after {
				content:''; 
				width:150px; 
				height:4px; 
				background-color:$color-cta; 
				position:absolute; 
				bottom:-12px;
				left: 0px;
			}
			.textwidget{
				text-align: left !important;
				p{
					padding-bottom: 1rem;
				}
			}
	
		}
	}
}	
