//
// Variables
// --------------------------------------------------

// Color Scheme
$color-base: 			#E5EBE6 !default;
$color-primary: 		#5B8D96 !default;
$color-secondary: 		#C45A3F !default;
$color-cta: 			#28315D !default;
$color-extra: 			#3B3D42 !default;

// Light and Dark
// -------------------------
$dark:                 #28315D !default;
$light:                 #fff !default;

// Typography
// -------------------------
$TisaSansPro: 			"ff-tisa-sans-web-pro",sans-serif !default;
$SourceSansPro: 		"source-sans-pro",sans-serif !default;

$textColor:             #8E8E8E !default;
$googleFont:            $TisaSansPro !default;
$googleFontWeight:      400 !default; // 400 or 700
$sansFontFamily:        $SourceSansPro !default;
$serifFontFamily:       $TisaSansPro !default;
$baseFontFamily:        $SourceSansPro !default;


